* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
}

a {
    text-decoration: none;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.line1 {
    overflow: hidden; /* Ensure text that overflows the container is clipped */
    white-space: nowrap; /* Ensure the text stays on a single line */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowing text */
}

.line2 {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines of text */
    -webkit-box-orient: vertical;
    overflow: hidden; /* Ensure text that overflows the container is clipped */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowing text */
}