<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.platform.mapper.UserMapper">
    <!-- SQL Insert -->
    <insert id="insert" parameterType="com.project.platform.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username !=null">username,</if>
            <if test="password !=null">password,</if>
            <if test="nickname !=null">nickname,</if>
            <if test="avatarUrl !=null">avatar_url,</if>
            <if test="tel !=null">tel,</if>
            <if test="email !=null">email,</if>
            <if test="status !=null">status,</if>
            <if test="createTime !=null">create_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username !=null">#{username},</if>
            <if test="password !=null">#{password},</if>
            <if test="nickname !=null">#{nickname},</if>
            <if test="avatarUrl !=null">#{avatarUrl},</if>
            <if test="tel !=null">#{tel},</if>
            <if test="email !=null">#{email},</if>
            <if test="status !=null">#{status},</if>
            <if test="createTime !=null">#{createTime},</if>
        </trim>
    </insert>
</mapper>